<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Old Jeans FullCalendar</title>

        <!-- CSS FILES -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Nanum+Pen+Script&display=swap" rel="stylesheet">
        
        <link href="static/css/bootstrap.min.css" rel="stylesheet">
        <link href="static/css/bootstrap-icons.css" rel="stylesheet">

        <link rel="stylesheet" href="css/magnific-popup.css">

        <link href="static/css/aos.css" rel="stylesheet">
        <link href="static/css/zoominout.css" rel="stylesheet">

        <link href="static/css/templatemo-nomad-force.css" rel="stylesheet">
        
<!--

TemplateMo 567 Nomad Force

https://templatemo.com/tm-567-nomad-force

-->
    </head>
    
    <body>
        <!--폰트 '바꾸려면 위의 link 태그도 바꿔야함'-->
        <style>
            body {
                font-family: 'Caveat', cursive;
                font-family: 'Nanum Pen Script', cursive;
                
                
            }
          </style>
    
        <main>
            

            <section class="hero" id="메인화면">
                <div class="heroText">
                    <h1 class="text-white mt-5 mb-lg-4" data-aos="zoom-in" data-aos-delay="800">
                        Old Jeans
                    </h1>

                    <p class="text-secondary-white-color text-white" data-aos="fade-up" data-aos-delay="1000">
                        오직 나를 위해서 만들어진 캘린더 <strong class="custom-underline">My Calendar</strong>
                    </p>
                </div>

                <div class="videoWrapper">
                    <video autoplay="" loop="" muted="" class="custom-video" poster="static/videos/Background.jpg">
                        <source src="static/videos/d.mp4" type="video/mp4">

                        Your browser does not support the video tag.
                    </video>
                </div>

                <div class="overlay"></div>
            </section>
                
            <nav class="navbar navbar-expand-lg bg-light shadow-lg">
                <div class="container">
                    <a class="navbar-brand" href="./">
                        <span style="font-size: 25px">My Calendar</span>
                    </a>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#메인화면">메인화면</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="#개요">개요</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="#사용방법">사용방법</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="#문의하기">문의</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="#로그인">로그인</a>
                            </li>
                            <li class="nav-item">
                                <div class="container">
                                    <input class="container_toggle" type="checkbox" id="switch" name="mode">
                                    <label for="switch"></label>
                                </div>

                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <section class="section-main pb-0">
               
                <section class="section-padding" id="개요">
                <div class="container mb-5 pb-lg-5">
                   <!-- <a href="static/images/calendar/123.jpeg" class="image-popup">
                        <img src="static/images/calendar/123.jpeg" class="img-fluid portfolio-image" alt="">
                    </a> -->
                    <div class="row">
                        <div class="col-12">
                            <h2 class="mb-3" data-aos="fade-up">인사말</h2>
                        </div>

                        <div class="col-lg-6 col-12 mt-3 mb-lg-5"> <!-- 문구만 변경 -->
                            <p class="me-4" style="font-size: 25px" data-aos="fade-up" data-aos-delay="300">저희는 My Calendar를 제작한 팀 Old Jeans 입니다. <br> My Calendar 제작을 프로젝트 주제로 정하기 전에 팀원들이 공통적으로 가지던 목표는 <br>"무엇을 만들던 사용자가 편리함을 느끼며 사용할 수 있도록 하자" 였습니다.
                            <br> 
                            사용자가 사용함에 있어 편리함을 느끼지 못하면 그건 제대로 만든 결과물이 아니라고 생각했기 때문입니다.
                            <br>
                            팀원 모두가 공통적인 목표의식을 가지고 머리를 맞대며 제작한 결과, My Calendar라는 꽤 그럴싸한 결과물이 만들어졌습니다. 
                            <br>
                            <br>
                            My Calendar는 편리함을 추구합니다. 그리고 자신만의 달력을 제작할 수도 있습니다.
                            <br>
                            My Calendar를 사용하는 모두가 편리함과 만족감을 느끼길 바라며 저희는 이만 인사를 마칩니다.
                            </p>
                        </div>
                        <div class="col-lg-6 col-12 mt-lg-3 mb-lg-5">
                            <p data-aos="fade-up" style="font-size: 25px" data-aos-delay="500">
                                This is team 'Old Jeans', who designed My Calendar.
                                 <br>
                                 The main goal that the team members shared before designing My Calendar
                                 <br>
                                 was "no matter what we create, we create something that users can use conveniently.
                                 <br>
                                 Every single member believed that if users have trouble intuitively understanding how to use this program,
                                 it does not fit out standard of a well-designed program.
                                 <br>
                                 As every team member cooperated under this shared vision, we could come up with a respectable outcome, My Calendar.
                                 <br>
                                 <br>
                                 My Calendar pursues usability, convinience. 
                                <br>
                                You can create your own calendar using My Calendar.
                                <br>
                                We hope that every user feels convenience and satisfaction using My Calendar.
                                <br>
                                Thank you.

                            </p>
                        </div>

                    </div>
                
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-3 col-12 p-0">      
                            <img src="static/images/sofa.jpg" class="img-fluid about-image" alt="">
                        </div>

                        <div class="col-lg-3 col-12 bg-dark">  
                            <div class="d-flex flex-column flex-wrap justify-content-center h-100 py-5 px-4 pt-lg-4 pb-lg-0">
                                <h3 class="text-white mb-3" data-aos="fade-up">우리는</br>사용자를 위해</br> 생각하는 </br>개발자입니다.</h3>

                                <p class="text-secondary-white-color" data-aos="fade-up"소개합니다</p>

                                <div class="mt-3 custom-links">
                                    
                                    <a href="#news" class="text-white custom-link" data-aos="zoom-in" data-aos-delay="100">인덕대학교</a>

                                    <a href="#contact" class="text-white custom-link" data-aos="zoom-in" data-aos-delay="300">정보통신공학과 소속</a>
                                </div>

                            </div>
                        </div>
                            <!--여기 사진 수정 및 간단한 문구 수정 했습니다. 문구는 신경 안쓰고 했어요-->
                            
                            <div class="col-lg-6 col-12 p-0">  
                                <div id="myCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
                                    
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img src="static/images/people/first.jpg" class="img-fluid team-image" alt="">
    
                                        </div>
                                
                                    <div class="carousel-item">
                                            <img src="static/images/people/sign_up.jpg" class="img-fluid team-image" alt="">
    
                                            <div class="team-thumb bg-warning">
                                                <h3 class="text-white mb-0">sign_up</h3>
    
                                                <p class="text-secondary-white-color mb-0">원하는 이메일과 비밀번호 입력하기</p>
                                            </div>
                                        </div>
    
                                        <div class="carousel-item">
                                            <img src="static/images/people/login.jpg" class="img-fluid team-image" alt="">
    
                                            <div class="team-thumb bg-warning">
                                                <h3 class="text-white mb-0">login</h3>
    
                                                <p class="text-secondary-white-color mb-0">회원가입한 계정으로 로그인하기</p>
                                            </div>
                                        </div>
    
                                        <div class="carousel-item">
                                            <img src="static/images/people/calendar.jpg" class="img-fluid team-image" alt="">
    
                                            <div class="team-thumb bg-success">
                                                <h3 class="text-white mb-0">calendar</h3>
    
                                                <p class="text-secondary-white-color mb-0">로그인 하여 MY Calendar 접속하기 </p>
                                            </div>
                                        </div>
    
                                        <div class="carousel-item">
                                            <img src="static/images/people/month.jpg" class="img-fluid team-image" alt="">
    
                                            <div class="team-thumb bg-info">
                                                <h3 class="text-white mb-0">month</h3>
    
                                                <p class="text-secondary-white-color mb-0">월간 일정 추가하기</p>
                                            </div>
                                        </div>
    
                                        <div class="carousel-item">
                                            <img src="static/images/people/week.jpg" class="img-fluid team-image" alt="">
    
                                            <div class="team-thumb bg-danger">
                                                <h3 class="text-white mb-0">week</h3>
    
                                                <p class="text-secondary-white-color mb-0">주간 일정 추가하기</p>
                                            </div>
                                        </div>
    
                                        <div class="carousel-item">
                                            <img src="static/images/people/day.jpg" class="img-fluid team-image" alt="">
    
                                            <div class="team-thumb bg-secondary">
                                                <h3 class="text-white mb-0">day</h3>
    
                                                <p class="text-secondary-white-color mb-0">하루 일정 추가하기</p>
                                            </div>
                                        </div>
                                        
                                        
    
                                           
                                    </div>
    
    
                                    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    
                                          <span class="visually-hidden">Previous</span>
                                    </button>
                                    
                                    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
    
                                          <span class="visually-hidden">Next</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
            </section>
          
            <section class="section-padding" id="사용방법">
                <div class="container">
                    <div class="row">

                        <div class="col-12">
                            <h2 class="mb-5 text-center" data-aos="fade-up">캘린더 이용 가이드</h2>
                        </div>

                        <div class="col-lg-6 col-12">
                            <div class="portfolio-thumb mb-5" data-aos="fade-up">
                                <a href="static/images/portfolio/sign_up.jpg" class="image-popup">
                                    <img src="static/images/portfolio/sign_up.jpg" class="img-fluid portfolio-image" alt="">
                                </a>

                                <div class="portfolio-info">
                                    <p class="text-info">회원가입</p>                     
                                   <p> <br>
                                    <br>
                                   </p>
                                </div>
                            </div> 

                            <div class="portfolio-thumb" data-aos="fade-up">
                                <a href="static/images/portfolio/crud.jpg" class="image-popup">
                                    <img src="static/images/portfolio/crud.jpg" class="img-fluid portfolio-image" alt="">
                                </a>

                                <div class="portfolio-info">                     
                                    <!--<h4 class="portfolio-title mb-0">Step three</h4>-->

                                    <p class="text-success">로그인</p>
                                </div>
                            </div> 
                        </div>

                        <div class="col-lg-6 col-12">
                            <div class="portfolio-thumb mt-5 mt-lg-0 mb-5" data-aos="fade-up">
                                <a href="static/images/portfolio/login.jpg" class="image-popup">
                                    <img src="static/images/portfolio/login.jpg" class="img-fluid portfolio-image" alt="">
                                </a>

                                <div class="portfolio-info">                     
                                    <!--<h4 class="portfolio-title mb-0">Step two</h4>-->

                                    <p class="text-warning">일정 추가&삭제</p>
                                </div>
                            </div> 

                            <div class="portfolio-thumb" data-aos="fade-up">
                                <a href="static/images/portfolio/button.jpg" class="image-popup">
                                    <img src="static/images/portfolio/button.jpg" class="img-fluid portfolio-image" alt="">
                                </a>

                                <div class="portfolio-info">                     
                                    <!--<h4 class="portfolio-title mb-0">Step four</h4>-->

                                    <p class="text-info">일괄 버튼</p>
                                </div>
                            </div> 
                        </div>

                    </div>
                </div>
            </section>
            
            <section class="section-padding" id="문의하기">
                <div class="container">
                    <div class="row">

                        <div class="col-12">
                            <div class="container mb-5 pb-lg-5">
                                <div class="row">
                                    <div class="col-12">
                                        <h2 class="mb-3" data-aos="fade-up">캘린더가 만족스러우신가요? <img src="static/rabbit.png">  </br>실물 제작도 가능합니다! </h2>
                                    </div>

                                    <div class="col-lg-6 col-12 mt-3 mb-lg-5">
                                        <h6 class="me-3" data-aos="fade-up" data-aos-delay="300">#나만의 캘린더</br> #나만의 달력 실물 제작 </br>#계획적인 삶 </h6>
                                    </div>

                                    <div class="col-lg-6 col-12 mt-lg-3 mb-lg-5">
                                        <p data-aos="fade-up" data-aos-delay="500" class="aos-init aos-animate"  style="font-size: 22px; color: orange;">매일 쓰는 캘린더! 더 예쁘게 쓰는 방법. <br>내가 좋아하는 사진과 캐릭터로 </br>내 취향에 딱! 맞는 <br>나만의 테마를 만들어 </br>취향이 비슷한 친구들과 함께 써보세요.
                                    
                                        </p>
                                    </div>
            
                                
                            </div>
                        </div>

                        <div class="container mb-5 pb-lg-5">
                            <div class="row">
        
                                <div class="col-lg-6 col-12 mt-3 mb-lg-5">
                                    <div class="news-text-info">
                                        <div class="demo-container">
                                            <div class="button">
                                                <a href="{{ url_for('download1_file') }}"><img src="static/csv.JPG"></a>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
        
                                <div class="col-lg-6 col-12 mt-lg-3 mb-lg-5">
                                    <div class="news-text-info">
                                        <!--csv 파일 다운로드-->
                                        <div class="demo-container">
                                            <div class="button"></div>
                                                <a href="{{ url_for('download_file') }}"><img src="static/pdf.JPG"></a>
                                            </div>
                                        </div>
                                </div>
                                <div class="col-12right">
                                    <h6 class="me-3" data-aos="fade-up" data-aos-delay="300" style="text-align: left;"><br>꼭!!!! 먼저 제작 가이드와 템플릿을 확인 후 카카오톡 또는 인스타로 문의주세요</h6>
                                    <div class="col-12right">
                                        <h5 class="mb-3" data-aos="fade-up">카카오톡 문의하기 <a href="http://pf.kakao.com/_xiaDYxj"><img src="static/kakao.png">My_Calendar</a>
                                            <br> 
                                           인스타그램 문의하기 <a href="https://www.instagram.com/my_calendar3/"><img src="static/insta.png">My_Calendar</a>
                                        </h5>
                                    </div>
                            
                        </div>
                        
                    </div>
                </div>
            </section>

       
            <section class="section-padding" id="로그인");"> <!--로그인 페이지-->
                <div class="container">
                    <div class="row">
                        
                        <div class="col-lg-7 col-12 mx-auto">
                            <link rel="stylesheet" href="{{ url_for('static', filename='login1.css') }}" />
                            <a href="https://front.codes/" class="logo" target="_blank">
                               
                            </a>
                            
                            <div class="section">
                                <div class="container">
                                    <div class="row full-height justify-content-center">
                                        <div class="col-12 text-center align-self-center py-5">
                                            <div class="section pb-5 pt-5 pt-sm-2 text-center">
                                                <h6 class="mb-0 pb-3"><span>Log In </span><span>Sign Up</span></h6>
                                                <input class="checkbox" type="checkbox" id="reg-log" name="reg-log" />
                                                <label for="reg-log"></label>
                                                <div class="card-3d-wrap mx-auto">
                                                    <div class="card-3d-wrapper">
                                                        <div class="card-front">
                                                            <div class="center-wrap">
                                                                <div class="section text-center">
                                                                    <h4 class="mb-4 pb-3">Log In</h4>
                                                                    <form action="{{ url_for('login') }}" method="POST">
                                                                        <div class="form-group">
                                                                            <input type="text" 
                                                                            name="username" 
                                                                            class="form-style" 
                                                                            placeholder="Your Email" 
                                                                            id="login_username" 
                                                                            autocomplete="username" 
                                                                            required 
                                                                            />
                                                                            <i class="input-icon uil uil-at"></i>
                                                                        </div>
                                                                        <div class="form-group mt-2">
                                                                            <input type="password" 
        name="password" 
        class="form-style" 
        placeholder="Your Password" 
        id="login_password" 
        style="font-size: 20px;" 
        required 
/>
                                                                            <i class="input-icon uil uil-lock-alt"></i>
                                                                        </div>
                                                                        {% with messages = get_flashed_messages() %} {% if messages %}
                                                                        <ul class="flashes">
                                                                            {% for message in messages %}
                                                                            <li>{{ message }}</li>
                                                                            {% endfor %}
                                                                        </ul>
                                                                        {% endif %} {% endwith %}
                                                                        
                                                                            <input type="submit" class="btn mt-4" value="Submit" />
                                                                        
                                                                    </form>
                                                                    
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="card-back">
                                                            <div class="center-wrap">
                                                                <div class="section text-center">
                                                                    <h4 class="mb-4 pb-3">Sign Up</h4>
                                                                    <form action="{{ url_for('sign_up') }}" method="POST">
                                                                        <div class="form-group">
                                                                            <input
                                                                              class="form-style"
                                                                              type="text"
                                                                              name="username"
                                                                              placeholder="Your Email"
                                                                              autocomplete="email"
                                                                            />
                                                                          </div>
                                                                          <div class="form-group mt-2">
                                                                            <input
                                                                              class="form-style"
                                                                              type="password"
                                                                              name="password"
                                                                              placeholder="Password"
                                                                              autocomplete="new-password"
                                                                            />
                                                                          </div>
                                                                          <div class="form-group mt-2">
                                                                            <input
                                                                              class="form-style"
                                                                              type="password"
                                                                              name="confirm_password"
                                                                              placeholder="Password Check"
                                                                              autocomplete="new-password"
                                                                            />
                                                                          </div>
                                                                    <button class="btn mt-4" type="submit">Sign up</button>
                                                                </div>
                                                            </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                


  <svg xmlns="http://www.w3.org/2000/svg" class="icons">
    <symbol id="icon-arrow-right" viewBox="0 0 1792 1792">
      <path
        d="M1600 960q0 54-37 91l-651 651q-39 37-91 37-51 0-90-37l-75-75q-38-38-38-91t38-91l293-293H245q-52 0-84.5-37.5T128 1024V896q0-53 32.5-90.5T245 768h704L656 474q-38-36-38-90t38-90l75-75q38-38 90-38 53 0 91 38l651 651q37 35 37 90z"
      />
    </symbol>
    <symbol id="icon-lock" viewBox="0 0 1792 1792">
      <path
        d="M640 768h512V576q0-106-75-181t-181-75-181 75-75 181v192zm832 96v576q0 40-28 68t-68 28H416q-40 0-68-28t-28-68V864q0-40 28-68t68-28h32V576q0-184 132-316t316-132 316 132 132 316v192h32q40 0 68 28t28 68z"
      />
    </symbol>
    <symbol id="icon-user" viewBox="0 0 1792 1792">
      <path
        d="M1600 1405q0 120-73 189.5t-194 69.5H459q-121 0-194-69.5T192 1405q0-53 3.5-103.5t14-109T236 1084t43-97.5 62-81 85.5-53.5T538 832q9 0 42 21.5t74.5 48 108 48T896 971t133.5-21.5 108-48 74.5-48 42-21.5q61 0 111.5 20t85.5 53.5 62 81 43 97.5 26.5 108.5 14 109 3.5 103.5zm-320-893q0 159-112.5 271.5T896 896 624.5 783.5 512 512t112.5-271.5T896 128t271.5 112.5T1280 512z"
      />
    </symbol>
  </svg>

                    </div>
                </div>
           

            

                <footer class="site-footer">
                    <div class="container">
                        <div class="row">
        
                            <div class="col-12">
                                <h5 class="text-white font-weight-bold">
                                    <i class="bi-geo-alt-fill me-2"></i>Induk University
                                </h5>
                                <p class="text-white font-weight-bold">
                                    <br>Old Jeans<br><br>
                                </p>
                            </div>
        
                            <div class="col-6">
                                <p class="copyright-text mb-0">Copyrightⓒ 인덕대학교 캡스톤디자인 All Right Reserved.
        
                                <br><br>Design: <a href="https://templatemo.com/page/1" target="_parent">TemplateMo</a></p>
        
                            </div>
        
                        </div>

                </div>
            </section>
        </footer>

        <!-- JAVASCRIPT FILES -->
        <script src="static/js/jquery.min.js"></script>
        <script src="static/js/bootstrap.bundle.min.js"></script>
        <script src="static/js/jquery.sticky.js"></script>
        <script src="static/js/aos.js"></script>
        <script src="static/js/jquery.magnific-popup.min.js"></script>
        <script src="static/js/magnific-popup-options.js"></script>
        <script src="static/js/scrollspy.min.js"></script>
        <script src="static/js/custom.js"></script>
        <script src="static/js/script.js"></script>

    </body>
</html>